*{
    margin: 0;
    padding: 0;
    border: border-box;
}
body.index{
    background-color: hwb(36 62% 5%);
}

.navigation-bar{
    border: 2px solid rgb(243, 195, 195);
}

.nav-logo{
    height: 60px;
    width: 55px;
    background-image: url(images/logo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    width: 100%;
    align-items: center;
}




.sub-title{
    display: flex;
    background-image: url(images/inner/recommend.jpg);
    background-size: cover;
    background-position: top;
    opacity: 0.9;
}

.sub-title ul {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 45px;
}
.sub-title ul li {
    margin-left: 45px;
    list-style: none;
    color: black;
    font-size: large;
  
    
}
.sub-title ul li a{
    color: red;
}
input{
    margin-top: 40px;
    margin-left: 70px;
    height: 15px;
}
button{
    margin-top: 40px;
    margin-right: 20px;
    border: none;
    height: 20px;
    width: 40px;
    background-color: blueviolet;
    cursor:pointer;
}
.today{
    background-image: url(images/inner/today.jpg);
    opacity: 0.9;
    background-size: cover;
    margin-top: 15px;
    height: 400px;
    width: 48%;
    border: 1px solid grey;
    background-color: transparent;
    display: flex;
    float: left;
    
}

.today p{
    color: aqua;
    vertical-align: bottom;
}
.recommend{
    background-image: url(images/inner/osusume.jpg);
    background-size: cover;
    margin-top: 15px;
    height: 400px;
    width: 48%;
    border: 1px solid grey;
    background-color: transparent;
    display:flex;
    float:right;
    color:aliceblue;
}

.facts{
    margin-top: 10px;
    display: flex;
    float: left;
    border: 1px solid grey;
    height: 350px;
    width: 65%;
    color: white;
}
.aside{
    display: flex;
    float: right;
    margin-top: 10px;
    border: 1px solid grey;
    height: 350px;
    width: 32%;
}
.aside ul{
    margin-top: 20px;
}

.social-media-container{
    display: flex;
    margin-top: 800px;
    background-color: blue;
    height: 30px;

}

.footer{
    padding-top: 10px;

}


body.menu{
    
    

}

.navigation-bar{
    border: 2px solid rgb(243, 195, 195);
}

.nav-logo{
    height: 60px;
    width: 55px;
    background-image: url(images/logo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    width: 100%;
    align-items: center;
}




.sub-title{
    display: flex;
    background-image: url(images/inner/recommend.jpg);
    background-size: cover;
    background-position: top;
    opacity: 0.9;
}

.sub-title ul {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 45px;
}
.sub-title ul li {
    margin-left: 45px;
    list-style: none;
    color: black;
    font-size: large;
  
    
}
.sub-title ul li a{
    color: red;
}
input{
    margin-top: 40px;
    margin-left: 70px;
    height: 15px;
}
button{
    margin-top: 40px;
    margin-right: 20px;
    border: none;
    height: 20px;
    width: 40px;
    background-color: blueviolet;
    cursor:pointer;
}

.menu-list.osusu{

    background-color: black;

}

.menu.container{
    display: flex;
    flex-direction: row;
}
.menu.container.item1{
    height: 20px;
    width: 30px;
    
}



